body {
    margin: 40px auto;
    max-width: 600px;
    line-height: 1.5;
    font-size: 18px;
  }
  
  li {
    margin: 0 0 10px 0;
  }
  
  hr.solid {
    border-top: 2px solid #bbb;
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 7px 15px;
    background-color: #d3dad3;
    font-size: 15px;
    border-radius: 4px;
  }

  